/* Utilities Styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* Navigation and Logo */
header{
    padding-top: 87px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{}
.logo h2{
    color: #3A3A3A;
    font-size: 24px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-items{}
.menu-items ul{
    display: flex;
}
.menu-items ul li{
    list-style: none;
}
.menu-items ul li a{
    text-decoration: none;
    margin-right: 34px;
    color: #3A3A3A;
    font-size: 15px;
    font-weight: 600;
}
.menu-icons{
}
.menu-icons .search{
    font-size: 18px;
    margin-right: 37px;
}
.menu-icons .cart{
    font-size: 18px;
    color: midnightblue;
}

/* Hero Section */
.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: auto;
    padding-top: 50px;
}
.section-left{}
.section-left h1{
    color: #3A3A3A;
    font-size: 52px;
    margin-bottom: 16px;
}
.section-left p{
    color: #3A3A3A;
    font-size: 16px;
    width: 70%;
}
.btn{
    background: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    margin-top: 30px;
}
.btn span{
    font-size: 16px;
    margin-left: 8px;
    position: relative;
    top: 1px;
}
.section-right{
    background: url(/images/yellow-bg.png) ;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.section-right img{
    max-width: 100%;
}

/* Brand Logos */
.top-brands{
    margin-top: 55px;
}
.brand-logos{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.brand-logos ul{
    display: flex;
    align-items: center;
    border-top: 2px solid #80808012;
    border-bottom: 2px solid #80808012;
}
.brand-logos ul li{
    list-style: none;
    margin-right: 25px;
}
.brand-logos ul li img{
    width: 100px;
    height: auto;
}


/* courses copy */
.container{
    
display: flex;
    
flex-direction: column;
    
align-items: center;
    
padding-top: 80px;
}
 .collection-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 35px;
}
 .product-item{
     display: grid;
     grid-template-columns: repeat(3,1fr );
     grid-gap: 30px;
     margin-bottom: 70px;
 }
 .banner img{
     width: 300px;
     height: 256px;
     margin-bottom: 10px;
 }
 .card{
     box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 5%);
     width: 315px;
     height: 470px;
     padding: 17px 0 0 15px;
     border-radius: 7px;
 }
 .card-info h3{
    font-size: 28px;
    font-weight: 600;
    color: #18191F;
    margin-top: 16px;
}
.card-info h4{
    
font-size: 24px;
    
font-weight: 400;
    
color: rgba(0, 0, 0, 0.87);
    
margin-top: 7px;
}
.card-info p{

color: #787885;

font-size: 14px;

font-weight: 600;

width: 70%;

margin-top: 15px;
}
.card-details{
     display: flex;
 }
 .ratings span {
    font-size: 14px;
    color: #5E6366;
    font-weight: 600;
    position: relative;
    top: 1px;
}
.fa-star.filed{
    color: #FFC014;
    font-size: 11px;
    margin-top: 14px;
}
.fa-star.unfiled {
    color: #AEAEAE;
    opacity: 0.30;
    font-size: 11px;
}

/* Testimonial */

.testimonial{}
.client-title{
    font-size: 45px;
    color: #000;
    text-align: center;
    width: 35%;
    margin: auto;
    padding-top: 50px;
}
.container{
    position: relative;
}
.clients-content{}
.client-1{
    position: absolute;
    left: 200px;
    top: 70px;
}
.image{
    filter: grayscale(100%)
}
.image:hover{
    filter: grayscale(0);
    transition: all .5s linear;
    cursor: pointer;
}
.client-2{
    position: absolute;
    right: 200px;
    top: 70px;
    
}

.client-3{
    position: absolute;
    left: 200px;
    top: 285px;
}
.client-4{
    position: absolute;
    right: 200px;
    top: 285px;
}

.main-content{
    width: 600px;
    height: 385px;
    background: linear-gradient(45deg, #19a5a1 0%, #63e8e4 100%);
    border-radius: 30px;
}
.main-content p{
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    line-height: 40px;
    padding: 50px 35px 10px 40px;
}
.main-content span{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 22px;
    margin-left: 40px;
    display: inline-block;
}